body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
}


h2 {
    color: #333;
    border-bottom: 2px solid #333; 
    padding-bottom: 0.5rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ddd;
}

.input {
    margin-bottom: 15px;
}



input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50; /* Green button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #218838; 
}

